extends layout

block scripts
  script(src='/js/jquery.min.js')
  script(src='/js/all.js')

block content
  .page.title
    img.restli(src='/images/restli.png')
  .page
    h1
      | Rest.li is an
      strong  open source
      |  REST framework for building robust, scalable
      strong  RESTful
      |  architectures using type-safe bindings and
      strong  asynchronous
      | ,
      |  non-blocking IO. Rest.li fills a niche for applying RESTful principals
      strong  at scale
      |  with an end-to-end developer
      |  workflow for buildings REST APIs that promotes
      strong  clean REST practices
      | ,
      strong  uniform interface design
      |  and consistent data modeling.
  .page.notop
    h1.big Skills i18n
    ul
      li Chinese, Portuguese, Spanish
      li
        strike SuggestedSkillsFeedbackContentModel
        |  -> ActionRequest
      li My task: SuggestedSkills
      li Ramp date: Aug 20
      li Protected by lix
  .page
    h1.huge 再见！